*{
    padding: 0;
    margin: 0;
    font-family: fantasy;
    list-style: none;
    text-decoration: none;
}
#cabecalho{
    display: flex;
padding: 8vh;
background-color: black;

flex-wrap: wrap;
}

#cabecalho li{
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1150px;
    margin-top: 2.0rem;
    
}

#img cabecalho{
    width: 50%;
    margin-left: 0;
    height: 30%;
}

#cabecalho li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

#cabecalho li a:hover {
    color:rgba(149, 0, 255, 0.692);
    transition: 0.8s;
}

#sessão{
    padding: 14rem;
    background: rgb(149,0,255);
background: linear-gradient(0deg, rgba(149,0,255,0.9780287114845938) 0%, rgba(255,1,215,1) 35%, rgba(7,233,18,1) 100%);
}

#sessão h2{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.911);
    
}

#sessão p{
    font-size: 2.3em;
    margin: 20px 0
}

#sessão button{
    padding: 22px;
    border-radius: 50px;
    border-color:rgb(149,0,255);
    width: 20em;
    cursor: pointer;
    color: white;
    margin-top: 25px;
}

#sessão button:hover{
color:rgb(255, 255, 255);
border-color: white;
background-color: rgba(149, 0, 255, 0.473);
transition: 0.8s;
}



#app{
padding: 15rem;
background-color: rgb(226, 233, 233);
display: flex;
justify-content: space-around;
}

#app div button{
    padding: 15px;
    border-radius: 3rem;
    width: 12rem;
    margin-bottom: 50px;
    border-color: rgb(149,0,255);
cursor: pointer;
color: white;
}

#app div button:hover{
    color: white;
    border-color: white;
    background-color: rgb(149,0,255);
    transition: 0.8s;
}
#app div p{
    font-size: 2.8em;
    margin-bottom: 20px;


}

#app div img{
    width: 25rem;
    height: 25rem;
margin-top: -70px;
margin-left: 50px;
}

#container{
    padding: 15rem;
    background-color: rgb(226, 233, 233);
}

#container h2{
    font-size: 40px;
    text-align: center;
    color: rgb(149,0,255);
    margin-top: -20rem;
    margin-bottom: 2rem;
}

#container p{
    font-size: 1.4rem;
    color: rgb(34, 34, 74,);
    margin-bottom: 3.0rem;
    text-align: justify;
}

#container button{
    padding: 15px;
    border-radius: 3rem;
    width: 12rem;
    margin-bottom: 50px;
    border-color: rgba(149, 0, 255, 0.192);
cursor: pointer;
color: white;
margin-top: 1.0rem;
}

#container button:hover{
    color: white;
    border-color: white;
    background-color: rgb(149,0,255);
    transition: 0.8s;
}

.line{
    width: 70%;
    margin-left: 3rem auto;
    margin-bottom: 5rem auto;
    margin-top: 4rem auto;
   
}

#container img{
    width: 80%;
    margin-left: 50px;
    margin-top: 2.3rem;
}

#container-cofre{
    background-position: center;
    padding: 10rem;
display: flex;
justify-content: space-evenly;
align-items: center;
background: rgb(149,0,255);
background: linear-gradient(180deg, rgba(149,0,255,0.9780287114845938) 0%, rgba(255,1,215,1) 35%, rgba(7,233,18,1) 100%);
 background-attachment: fixed;
}

#container-cofre h2{
    color: white;
    font-size: 50px;
    text-align: center;
}

#container-cofre p{
    color: white;
    font-size: 18px;
    text-align: center;

}

#footer{
    background-color: rgb(26, 25, 25);
    padding: 5rem;
    text-align: center;
    }
    
    #footer img{
       width: 18rem;
    }
    
    #footer div{
        display: flex;
        padding: 1rem;
        color: white;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;
    }
    
    #footer a{
        color: white;
        text-decoration: none;
    }
    
    #footer a:hover {
        color: purple;
        transition: 0.6s;
    }