*{
    padding: 0;
    margin: 0;
    font-family: fantasy;
    list-style: none;
}
#cabecalho{
    display: flex;
padding: 10vh;
background-color: black;

flex-wrap: wrap;
}

#cabecalho li{
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

#cabecalho li a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

cabecalho li a:hover {
    color:rgb(149,0,255);
    transition: 0.8s;
}

#sessão{
    padding: 15rem;
    background: rgb(149,0,255);
background: linear-gradient(0deg, rgba(149,0,255,0.9780287114845938) 0%, rgba(255,1,215,1) 35%, rgba(7,233,18,1) 100%);
}

#sessão h2{
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.911);
}

#sessão p{
    font-size: 2.3em;
    margin: 20 px 0;
}

#sessão button{
    padding: 22px;
    border-radius: 50px;
    border-color:rgb(149,0,255);
    width: 20em;
    cursor: pointer;
}

#sessão button:hover{
color:white;
border-color: white;
background-color: rgb(149,0,255);
transition: 0.8s;
}

#app{
padding: 15rem;
background-color: rgb(226, 233, 233);
display: flex;
justify-content: space-around;
}

#app div p{
    font-size: 2.8em;
    margin-bottom: 20px;


}

#app div img{
    width: 25rem;
    height: 25rem;
margin-top: -70px;
margin-left: 50px;
}

#container{
    padding: 15rem;
    background-color: rgb(226, 233, 233);
}

#container h2{
    font-size: 40px;
    text-align: center;
    margin-top: -20rem;
    margin-bottom: -2rem;
    color: #663aef;
}